services:
  agave-rpc:
    image: gorbagana/gorchain-rpc:local
    restart: unless-stopped
    network_mode: host
    hostname: agave-rpc
    labels:
      - "role=rpc"
    environment:
      RUST_LOG: $RUST_LOG
      # External validator is required
      VALIDATOR_ENTRYPOINT: ${VALIDATOR_ENTRYPOINT}
      KNOWN_VALIDATOR: ${KNOWN_VALIDATOR}
      RPC_PORT: ${RPC_PORT:-8899}
      GOSSIP_PORT: ${GOSSIP_PORT:-8001}
      DYNAMIC_PORT_RANGE: ${DYNAMIC_PORT_RANGE:-9000-9025}
      PUBLIC_RPC_ADDRESS: ${PUBLIC_RPC_ADDRESS}
      SNAPSHOT_INTERVAL_SLOTS: 200
      MAXIMUM_SNAPSHOTS_TO_RETAIN: 2
      SOLANA_METRICS_CONFIG: ${SOLANA_METRICS_CONFIG}
    command: ["/opt/run.sh"]
    volumes:
      - ../config/gorchain/start-rpc.sh:/opt/run.sh
      - rpc_config:/agave/config
      - rpc_ledger:/agave/ledger
      - rpc_accounts:/agave/accounts
    ports:
      # This runs on the host network, so these are only for documentation
      - "${RPC_PORT:-8899}"             # RPC
      - "${RPC_WS_PORT:-8900}"          # RPC pubsub
      - "${GOSSIP_PORT:-8001}"          # Gossip
      - "${GOSSIP_PORT:-8001}/udp"      # Gossip
      - "${DYNAMIC_PORT_RANGE:-9000-9025}/udp"     # Dynamically assigned ports
    ulimits:
      nofile:
        soft: 1000000
        hard: 1000000
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${RPC_PORT:-8899}/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s
    extra_hosts:
      # For convenience and documentation
      influxdb: 127.0.0.1

  envoy-proxy:
    image: envoyproxy/envoy:v1.31-latest
    restart: unless-stopped
    hostname: envoy-proxy
    depends_on:
      agave-rpc:
        condition: service_healthy
    volumes:
      - ../config/gorchain/envoy-rpc.yaml:/etc/envoy/envoy.yaml:ro
      - ../config/gorchain/dev-certs/dev-cert.pem:/etc/envoy/tls/origin.cert.pem:ro
      - ../config/gorchain/dev-certs/dev-private-key.pem:/etc/envoy/tls/origin.key:ro
    ports:
      - "9901:9901"
      - "443:443"
      - "80:80"
    extra_hosts:
      - agave-rpc:host-gateway

  restarter:
    image: gorbagana/gorchain-restarter:local
    restart: unless-stopped
    depends_on:
      - agave-rpc
    command: ["/cron/restart.cron"]
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ../config/gorchain/restart.cron:/cron/restart.cron:ro
      - ../config/gorchain/restart-node.sh:/scripts/restart-node.sh:ro

volumes:
  rpc_config:
  rpc_ledger:
  rpc_accounts:
