services:
  agave-validator:
    image: gorbagana/gorchain-validator:local
    restart: unless-stopped
    network_mode: host
    hostname: agave-validator
    labels:
      - "role=validator"
    environment:
      - CLUSTER_TYPE=testnet
      - RUST_LOG=${RUST_LOG:-info}
      - FAUCET_LAMPORTS=500000000000000000
      - RPC_PORT=8899
      - FAUCET_PORT=9900
      - GOSSIP_PORT=8001
      - PUBLIC_GOSSIP_HOST
      - PUBLIC_RPC_ADDRESS
      - ENABLE_FAUCET=true
      - SNAPSHOT_INTERVAL_SLOTS=200
      - MAXIMUM_SNAPSHOTS_TO_RETAIN=5
      # - SOLANA_METRICS_CONFIG=host=http://influxdb:8086,db=agave_metrics,u=admin,p=admin
    command: ["/opt/run.sh"]
    volumes:
      - ../config/gorchain/start-validator.sh:/opt/run.sh
      - gorchain_config:/agave/config
      - gorchain_ledger:/agave/ledger
      - gorchain_accounts:/agave/accounts
    ports:
      - "8899:8899"             # RPC
      - "8900:8900"             # RPC pubsub
      - "9900:9900"             # Faucet
      - "8001:8001"             # Gossip
      - "8001:8001/udp"         # Gossip
    ulimits:
      nofile:
        soft: 1000000
        hard: 1000000
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8899/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

  #TODO reconfig
  envoy-proxy: 
    image: envoyproxy/envoy:v1.31-latest
    restart: unless-stopped
    hostname: envoy-proxy
    depends_on:
      agave-validator:
        condition: service_healthy
    volumes:
      - ../config/gorchain/envoy.yaml:/etc/envoy/envoy.yaml:ro
      - ../config/gorchain/dev-certs/dev-cert.pem:/etc/envoy/tls/origin.cert.pem:ro
      - ../config/gorchain/dev-certs/dev-private-key.pem:/etc/envoy/tls/origin.key:ro
    ports:
      - "443:443"
      - "80:80"
      - "9901:9901"

  restarter:
    image: gorbagana/gorchain-restarter:local
    restart: unless-stopped
    depends_on:
      - agave-validator
    command: ["/cron/restart.cron"]
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ../config/gorchain/restart.cron:/cron/restart.cron:ro
      - ../config/gorchain/restart-node.sh:/scripts/restart-node.sh:ro

volumes:
  gorchain_config:
  gorchain_ledger:
  gorchain_accounts:

networks:
  default:
    name: gorchain
